body, p, blockquote {
	margin: 0;
	padding: 0;
}

a img, iframe { border: none; }
	
/* Headers
------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
	
/* Lists
------------------------------*/
	
ul, ol, dl, li, dt, dd {
	margin: 0;
	padding: 0;
}
	
/* Links
------------------------------*/

a, a:link {}
a:visited {}
a:hover {}
a:active {}

/* Forms
------------------------------*/

form, fieldset {
	margin: 0;
	padding: 0;
}
	
fieldset { border: 1px solid #000; }

legend {
	padding: 0;
	color: #000;
}

input, textarea, select {
	margin: 0;
	padding: 1px;
	font-size: 100%;
	font-family: inherit;
}
	
select { padding: 0; }

body, div { font-family: 'lucida grande', helvetica, verdana, arial, sans-serif }
body { margin: 0; padding: 0; font-size: small; color: #333 }
h1, h2 { font-family: 'trebuchet ms', verdana, arial; padding: 10px; margin: 0 }
h1 { font-size: large }
#main { padding: 1em; }
#banner { padding: 15px; background-color: #06b; color: white; font-size: large; border-bottom: 1px solid #ccc;
    background: url(bg.gif) repeat-x; text-align: center }
#banner a { color: white; }
	
p { margin: 10px 0; }

li { margin-left: 10px; }

h3 { margin: 1em 0 0; }

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }


/**********************************

Name: employeeForm Styles

***********************************/
form.employeeForm {
	width: 370px;
	font-size: 1.0em;
	color: #333;
}

form.employeeForm legend {
	padding-left: 0;
}

form.employeeForm legend, form.employeeForm label {
	color: #333;
}

form.employeeForm fieldset {
	border: none;
	border-top: 1px solid #C9DCA6;
	background: url(../images/employeeForm-fieldset.gif) left bottom repeat-x;
	background-color: #F8FDEF;
}

form.employeeForm fieldset fieldset {
	background: none;
}

form.employeeForm fieldset p, form.employeeForm fieldset fieldset {
	padding: 5px 10px 7px;
	background: url(../images/employeeForm-divider.gif) left bottom repeat-x;
}

form.employeeForm label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic
}

form.employeeForm label.success, label.success {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: blue;
	font-style: italic
}

div.error { display: none; }
input {	border: 1px solid black; }
input.checkbox { border: none }
input:focus { border: 1px dotted black; }
input.error { border: 1px dotted red; }
form.employeeForm .gray * { color: gray; }

form.employeeForm fieldset {
	margin-bottom: 10px;
}

form.employeeForm legend {
	padding: 0 2px;
	font-weight: bold;
	_margin: 0 -7px; /* IE Win */
}

form.employeeForm label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	cursor: hand;
}

form.employeeForm fieldset p {
	list-style: none;
	padding: 5px;
	margin: 0;
}

form.employeeForm fieldset fieldset {
	border: none;
	margin: 3px 0 0;
}

form.employeeForm fieldset fieldset legend {
	padding: 0 0 5px;
	font-weight: normal;
}

form.employeeForm fieldset fieldset label {
	display: block;
	width: auto;
}

form.employeeForm label { width: 180px; } /* Width of labels */
form.employeeForm fieldset fieldset label { margin-left: 300px; } /* Width plus 3 (html space) */
form.employeeForm label.error {
	margin-left: 103px;
	width: 220px;
}

form.employeeForm input.submit {
	margin-left: 103px;
}

form.employeeForm input.checkbox {
	margin-left: 210px;
}

#employeeForm { width: 450px; margin-left: 300px }
#employeeForm label { width: 200px; }
#employeeForm label { margin-left: 30px  }
#employeeForm label.error{ margin-left: 253px; }
#employeeForm label.success{ margin-left: 253px; }
#employeeForm input.submit{margin-left: 210px} 