*{padding:0px;margin:0px;}
body{font-size:9pt;background: #d3e1ee url('../images/login_bg.jpg') top center no-repeat;}
table{border:0px;border-collapse:collapse;}
b{font-size:10pt;}
.login_div{text-align:center;margin-top:386px;}
input.text{width:100px;border:1px #404040 solid;font-size:9pt;padding:2px 0px 2px 5px;}
input.submit{width:74px;height:21px;color:#36434E;background:url("../images/login_button.png") no-repeat;border:0px;cursor:pointer;font-size:12px;}
input.submit:hover{background-position:0 -21px;font-size:12px;}
a{color:#000000;}
